<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pathable.phonegap" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap Test PGC2015</name>
    <description>
        Pathable PhoneGap
    </description>
    <author email="support@pathable.com" href="https://pathable.com/">
        Pathable
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-maxSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="17" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="blackopaque" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="2"/>
    <preference name="ShowSplashScreenSpinner" value="true"/>
    <preference name="AutoHideSplashScreen" value="false" />

    <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="2.1.0" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.0.1" />
    <gap:plugin name="pushwoosh-pgb-plugin" source="npm" />
    <gap:plugin name="phonegap-plugin-barcodescanner" source="npm" />

    <!--
    Must be precisely named and in root directory per
    http://docs.build.phonegap.com/en_US/2.9.0/configuring_icons_and_splash.md.html#Icons%20and%20Splash%20Screens
    See also https://github.com/phonegap/phonegap/wiki/App-Splash-Screen-Sizes
    -->

    <icon src="icons/icon.png" />

    <icon gap:platform="ios" src="icons/icon.png" width="57" height="57" />
    <icon gap:platform="ios" src="icons/icon@2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="icons/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="icons/icon-120.png" width="120" height="120" />
    <icon gap:platform="ios" src="icons/icon-144.png" width="144" height="144" />
    <icon gap:platform="ios" src="icons/icon-152.png" width="152" height="152" />
    <icon gap:platform="ios" src="icons/icon-180.png" width="180" height="180" />
    <icon gap:platform="ios" src="icons/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="icons/icon-60.png" width="60" height="60" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="icons/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="icons/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="icons/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="icons/icon-96-xhdpi.png" />

    <gap:splash src="splash.png" />

    <!-- iPhone and iPod touch -->
    <gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPad -->
    <gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

    <gap:splash src="ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!--<access origin="*.pushwoosh.com"/>-->
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
